.Student {
	font-size: 22px;
	color: #505050;
	border: 1px solid #e8e8e8;
	width: 100%;
	height: 40px;
	line-height: 38px;
	padding-left: 10px;
	display: flex;
	justify-content: space-between;
}
.Student input {
	border: none;
}
.Student .editNameInput {
	width: 70%;
}
.Student .editGradeInput {
	width: 30%;
}
