.Student {
	color: #333;
	margin-bottom: 5px;
	width: 300px;
	display: flex;
	height: 45px;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.Student > * {
	align-self: center;
	box-sizing: border-box;
}

.Student .details {
	font-size: 22px;
	color: #505050;
	border: 1px solid #e8e8e8;
	width: 260px;
	height: 40px;
	line-height: 38px;
	padding-left: 10px;
}
